
<% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%=flash[:success]%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<% if flash[:update] %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%=flash[:update]%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<% if flash[:delete] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%=flash[:delete]%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>
